body {
    margin: 0px;
}

.tag-container {
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.react-tagsinput {
    max-width: 500px;
    margin-top: 300px;
    padding: 5px;
    pointer-events: auto;
}

.react-tagsinput-input {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
}

.marker {
    width: 50px;
    height: 50px;
    background-color: red;
}